# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart

# Android
android/local.properties
android/.gradle/
android/captures/
android/key.properties
android/app/google-services.json

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Runner/GoogleService-Info.plist

# Environment
.env
.env.local

# IDEs
.idea/
.vscode/
*.iml

# macOS
.DS_Store
*.pem
